# version
__version__.py
__git_version__.py

# backup files
*~
*.swp
*.swo

# compiled python and shared objects
*.pyc
*.pyo
*.so

# setuptools
build
dist
PyWENO*

# examples
*.png
*.mat
*.h5

# tex
*.aux
*.log
*.out

# sphinx
_build
_doctrees
_ghpages
